
.navbar-toggle {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .15s;
    padding: 0;
    box-shadow: none !important;
    @media (min-width: $xl) {
        display: none;
    }
    &, .animated-icon span {
        transition: background-color 0.25s;
    }
    &:hover, &.open {
        .animated-icon span {
            background-color: $white;
        }
    }
    .animated-icon {
        width: 36px;
        height: 36px;
        margin: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        cursor: pointer;
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        display: block;
        span {
            display: block;
            position: absolute;
            height: 2px;
            width: 100%;
            border-radius: 0;
            opacity: 1;
            left: 0;
            transform: rotate(0deg);
            transition: .25s ease-in-out;
            background: $white;
            &:nth-child(1) {
                top: 4px;
            }
            &:nth-child(2) {
                top: 17px;
            }
            &:nth-child(3) {
                top: 30px;
            }
        }
    }
    &.open .animated-icon span {
        &:nth-child(1) {
            top: 17px;
            transform: rotate(135deg);
        }
        &:nth-child(2) {
            opacity: 0;
            left: -20px;
        }
        &:nth-child(3) {
            top: 17px;
            transform: rotate(-135deg);
        }
    }
}
