.intro {
    background-color: $darkblue;
    padding: 5rem 0 6.5rem;
    @media (max-width: $lg) {
        padding: 3.25rem 0 4.25rem;
    }
    &-text {
        margin-bottom: 6.5rem;
        @media (max-width: $lg) {
            margin-bottom: 4.25rem;
        }
        h1 {
            color: $white;
            span {
                display: block;
                font-size: 115px;
                @media (max-width: $lg) {
                    font-size: 76px;
                }
                @media (max-width: $sm) {
                    font-size: 54px;
                    line-height: 1.5;
                }
                @media (max-width: $xs) {
                    font-size: 44px;
                }
            }
        }
        p {
            color: $white;
            font-size: 36px;
            line-height: 1.4;
            @media (max-width: $lg) {
                font-size: 24px;
                br {
                    display: none;
                }
            }
            @media (max-width: $sm) {
                font-size: 18px;
                line-height: 1.5;
            }
        }
    }
    &-image {
        overflow: hidden;
        &-container {
            display: flex;
            position: relative;
            width: 100%;
            img {
                flex-shrink: 0;
                width: auto;
                height: 100%; 
            }
            @keyframes scroll {
                0% {
                    transform: translateX(0); /* Start at the initial position */
                }
                100% {
                    transform: translateX(-100%); /* Move all images to the left */
                }
            }
            animation: scroll 10s linear infinite;
        }
    }
}